:root {
    --col-bg: #ffffff;
    --col-bg-fg: #222222;
    --col-accent1:  palevioletred;
    --col-accent1-fg: #000000;
    --col-accent2:  plum;
    --col-accent2-fg: #000000;
    --col-accent3:  mediumslateblue;
    --col-accent3-fg: #ffffff;
	--col-action: firebrick;
	--col-grey:rgb(146, 143, 143);
	--font-body: serif;
    --font-heading: sans-serif;
    --animations: 0.3s;
  }
	body {
	margin: 0;
	font: 1em helvetica, arial, sans-serif;
	background-color: lightgrey;
	/* background-image: url('./../img/bg.png'); */
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    line-height: 1.25;
    margin: 0.25em 0;
  }
  
  h1 {
    font-size: 1.25em;
  }
  .border{
	  border-radius: var(--col-bg-fg) solid 2em;

  }
  .product-grid{
	  text-align: center;
	  display: grid;
  }
.box{
	padding: 1em;
	margin-bottom: 1em;
	background-color: var(--col-grey);
	border-color:  var(--col-bg-fg);
}
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  @media screen and (min-width: 40em) {

}

 
  /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
  @media screen and (min-width: 60em) {
	
  }